body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    background: white;
}

.container {
    width: 550px;
    height: 729px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    display: flex;
    margin: 90px auto;
    padding: 30px 0  0 40px;
    background: #0EA5E9;
    border: 2px solid #273549;
    box-shadow: 5px 10px 8px #141a32;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    color: white;
}

#input-el {
    width: 117px;
    height: 83px;
    padding: 0px 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    background-color: #0EA5E9;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: -15px;
}

#convert-btn {
    background-color: white;
    color: #0EA5E9;
    width: 117px;
    height: 42px
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 5px 10px 8px #141a32;
}

#convert-btn:hover{
	background-color: #273549;
	transition: background-color 0.2s;
    color: white;	
}

#convert-btn:active{
	transform: scale(0.98);
	transition: transform 0.2s;	
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

